/* IE10+ VIEWPORT FIX */
@-ms-viewport { width:device-width; }
@viewport { width: device-width; }

/* PHONE - 320px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #main header {
    padding:  0 0.5em;
    height: 1.8em;
  }

  #main header h1 {
    font-size: 1em;
  }

  #question_number {
    font-size: 0.8em;
  }

  #score {
    font-size: 0.6em;
  }

  .container {
    width: 100%;
  }

  #result {
    font-size: 3em;
  }

  .question img {
    width: 92%;
  }

  .answers {
    font-size: 1em;
    width: 90%;
  }
}

/*TABLET*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  #main header {
  height: 2.2em;
  }

  #main header h1 {
  font-size: 1.6em;
  }

  #question_number {
  font-size: 1em;
  }

  #score {
  font-size: 0.6em;
  }
}