/* IE10+ VIEWPORT FIX */
@-ms-viewport { width:device-width; }
@viewport { width: device-width; }

/* PHONE - 767px */
@media screen and (max-width: 460px) {
  #main header {
    padding:  0 0.8em 0 0.8em;
    height: 1.8em;
  }

  #main header h1 {
    font-size: 0.5em;
  }

  #question_number {
    font-size: 0.6em;
  }

  #score {
    font-size: 0.4em;
  }

  .container {
    width: 300px;
  }

  #result {
    font-size: 3em;
  }
}

/*TABLET*/
@media screen and (max-width: 760px) {
  #main header {
  height: 1.6em;
  }

  #main header h1 {
  font-size: 1.2em;
  }

  #question_number {
  font-size: 1em;
  }

  #score {
  font-size: 0.6em;
  }
}