/*IMPORT OPEN SANS FONT FROM GOOGLE FONT*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  color: steelblue;
}

#main {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

/*TOP LEVEL HEADER*/
#main header {
  padding-left: 1.4em;
  padding-right: 1.4em;
  height: 2.6em;
  margin: 0;
  padding-top: 1.1em;
  padding-bottom: 1em;
  box-shadow: 3px 3px 3px #cccccc;
  background-color: rgb(51, 43, 43);
  color: saddlebrown;
}

#main header h1 {
  float: left;
  font-size: 2.3em;
  font-weight: 800;
  text-shadow: -1px -1px 1px #cccccc;
}

#main header #status {
  float: right;
  padding-top: 0;
}

#question_number {
  text-align: right;
  font-size: 1.3em;
  font-weight: 800;
}

#score {
  text-align: right;
  font-size: 0.8em;
  font-weight: 800;
}

.no_score {
  display: none;
}

/*CONTAINER FOR PICTURE AND QUESTION*/
.container {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.question {
  padding-left: 1.4em;
  height: 15em;
  padding-top: 1.2em;
  padding-bottom: 5em;
  text-align:center;
}

.question img {
  width: 19em;
  height: 19em;
  margin: 0 auto;
}

.answers {
  margin-top: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  line-height: 1em;
  text-align:center;
  font-size: 1.2em;
}

.answer_radio {
  display: none;
}

.answer {
  display: block;
  padding: 0.8em;
  font-size: 1.2em;
  font-weight: 800;
}

.answer:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.answer_radio:checked + .answer {
  background-color: #dddddd;
  border-radius: 3px;
}

#controls_message h2 {
  font-size: 1.6em;
}

#controls_message ul {
  margin-top: 1em;
}

#controls_message p {
  margin-top: 1em;
  font-size: 0.7em;
}

.overlay_message {
  display: none;
  padding: 1em;
  background-color: steelblue;
  color: white;
}

/*RESULT PAGE TEXT*/
#result {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/*FLAT BUTTON*/

#content {
  margin: 10px auto;
  padding-left: 1.4em;
  padding-right: 1.4em;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding-top: 0.25em;
  padding-bottom: 3.9em;
  text-align:center;
}

aside {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

aside:hover {
  top: -1px;
}

aside:active {
  top: 1px;
}

aside.arrow {
  background-color: #8d96ed;
}

aside.arrow:after, aside.arrow:before {
  border-width: 17px 0 17px 17px;
}

aside.arrow:before {
  border-color: #8d96ed transparent;
  left: -17px;
}

aside.arrow:after {
  border-color: transparent #8d96ed;
  right: -17px;
}

aside.diamond {
  background-color: #c6ed8d;
}

aside.diamond:after, aside.diamond:before {
  border-color: transparent #c6ed8d;
}

aside.diamond:before {
  left: -17px;
  border-width: 17px 17px 17px 0;
}

aside.diamond:after {
  right: -17px;
  border-width: 17px 0 17px 17px;
}

aside:before, aside:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
}

#submit {
  float: left;
}

#reset {
  float: right;
}